In [2]:
import pandas as pd
import numpy as np

In [3]:
import sqlite3

In [10]:
conn = sqlite3.connect("petsdb")

In [21]:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [22]:
print(is_opened(conn))

True

In [23]:
conn.close()

In [24]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

In [11]:
c = conn.cursor()

In [12]:
##age groups in table
for pp, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are  {} people who are the age {}".format(pp, age))

There are  2 people who are the age 5
There are  1 people who are the age 6
There are  1 people who are the age 7
There are  3 people who are the age 8
There are  1 people who are the age 9
There are  2 people who are the age 11
There are  3 people who are the age 12
There are  1 people who are the age 13
There are  4 people who are the age 14
There are  2 people who are the age 16
There are  2 people who are the age 17
There are  3 people who are the age 18
There are  1 people who are the age 19
There are  3 people who are the age 22
There are  2 people who are the age 23
There are  3 people who are the age 24
There are  2 people who are the age 25
There are  1 people who are the age 27
There are  1 people who are the age 30
There are  3 people who are the age 31
There are  1 people who are the age 32
There are  1 people who are the age 33
There are  2 people who are the age 34
There are  3 people who are the age 35
There are  3 people who are the age 36
There are  1 people who are the age 37
There are  2 people who are the age 39
There are  1 people who are the age 40
There are  1 people who are the age 42
There are  2 people who are the age 44
There are  2 people who are the age 48
There are  1 people who are the age 49
There are  1 people who are the age 50
There are  2 people who are the age 51
There are  2 people who are the age 52
There are  2 people who are the age 53
There are  2 people who are the age 54
There are  1 people who are the age 58
There are  1 people who are the age 59
There are  1 people who are the age 60
There are  1 people who are the age 61
There are  2 people who are the age 62
There are  1 people who are the age 63
There are  2 people who are the age 65
There are  2 people who are the age 66
There are  1 people who are the age 67
There are  3 people who are the age 68
There are  1 people who are the age 69
There are  1 people who are the age 70
There are  4 people who are the age 71
There are  1 people who are the age 72
There are  5 people who are the age 73
There are  3 people who are the age 74

In [13]:
## which age group has the maximum number of people
for pp, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The greatest number of people is {}, which came from the {} age group".format(pp, age))
    break

The greatest number of people is 5, which came from the 73 age group

In [14]:
## how many people have no last name
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

In [16]:
## how many people with More than 1 pet
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People have more than one pet".format(row[0]))

43 People have more than one pet

In [17]:
## how many pets have received treaments
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

In [18]:
##how many pets have received treatment and the type of pet is known
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

In [19]:
##how many pets are from the city called east port
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

In [20]:
##how many pets are from the city called east port and who received a treatment
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)